<app-to-do (addedToDo)="addToDo($event)" [toDoTitle]='toDoTitle' *ngIf="currentRoute == '/home'"></app-to-do>

<table class="table table-striped table-bordered table-sm row-border hover" datatable id="dataTable" *ngIf="loading" style="    margin-top: 5%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Function</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of toDoList" (click)="clickRow(todo)">
            <td>{{ todo.id }}</td>
            <td>{{ todo.title }}</td>
            <td>
                <button class="btn btn-danger" (click)="removeToDo(todo.id)">Remove</button>
                <button class="btn btn-primary" (click)="updateToDo(todo)" style="margin-left: 5%;">Update</button>
            </td>
        </tr>
    </tbody>
</table>