<nav class="nav_user_header navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #C5C9B8;">
    <div>
        <ul class="ul_list_right navbar-nav ml-auto">
            <li>
                <a [routerLink]="[ '/login' ]">MyTasks</a>
            </li>

            <li style="margin-left: 20%;">
                <a [routerLink]="[ '/home' ]">PendingTasks</a>
            </li>

            <li style="margin-left: 20%;">
                <a [routerLink]="[ '/search' ]">Search</a>
            </li>

        </ul>
    </div>

</nav>